
/*
Header -> Programming Enthusiast some icons related to speciality code languages
Nathan Brunnett reduce size
rewrite this to be below profile picture?
*/

/*
Barcelona on left
Specialities on left below Barcelona
pfp on right
Social Media on right below pfp -> github icon linkedin icon
*/

* {
  box-sizing: border-box;
}

.wrapper {
  margin: 14px;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 16px;
  text-align: center;
  background: white;
  height: 31px;
}

.header h2 {
  padding-top: 12px;
  font-family: "VintageKing";
  font-style: italic;
}

.header p {
  padding-top: 2px;
  font-style: italic;
  font-size: 14px;
}

/* bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  height: 33px;
  text-align: center;
}

/*links */
.topnav a {
  padding-top: 8px;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
}


body {
  font-family: Arial;
  margin: 0px;
  background: #f1f1f1;
}


/* Create two unequal columns that floats next to each other */
/* Left column */

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color:#f1f1f1;
  padding-left: 20px;
}

img {
  width: 100%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: gray solid 1px
}

/* Clear floats after the columns */

.row::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 185px;
  border-top: black solid 1px
}


/* @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
} */
