code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "VintageKing";
  src: local("VintageKing"),
   url("./media/fonts/VintageKing.ttf") format("truetype");
  font-weight: bold;
 }

